/* Regular */
@font-face {
  font-family: "ALSArtemiusSans";
  font-style: normal; 
  font-weight: 400; 
  src: url("@/assets/fonts/ALSArtemiusSans-Regular.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

/* Bold */
@font-face {
  font-family: "ALSArtemiusSans";
  font-style: normal; 
  font-weight: 900; 
  src: url("@/assets/fonts/ALSArtemiusSans-Bold.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
